
/*Content Frame background color / text color / background image*/
#contentFrame,
#schemePreview, 
body, 
.ineditmode, 
.topFrame,
.breadcrumbs,
.paneTabs,
.paneTabs ul li.active, 
.paneTabs ul li,
.wizardBody .containerWizard {
    background-color:#eeeeee;
    color:#000000;
}

/* active top tab caret in 2012 theme */
.appTabs .active .hideoff,
.appTabs .active a:hover .hideoff,
.appTabs .active a:focus .hideoff,
.toppTabs-compact .appTabs .active .hideoff, 
.toppTabs-compact .appTabs .active a:hover .hideoff,
.toppTabs-compact .appTabs .active a:focus .hideoff,
.paneTabs .active a:after {
  border-bottom-color: #eeeeee;
}

/*Content area background color / text color / background image */
#contentArea,
#schemePreviewBody,
.container {        
    background-color:#FFFFFF;
    color:#111111;
}

/*Data Collection Primary button background / text color*/
#primaryButton, 
button[type="submit"].submit,
.mainButton a, .mainButton a:hover, .mainButton a:focus,
.mainButton a, .actionBarMicro .mainButton a:hover, .actionBarMicro .mainButton a:focus,
.rumble .mainButton > a, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus,
.button-1, .button-1-img, .button-1:hover, .button-1-img:hover, .button-1:focus, .button-1-img:focus,
input.submit[type="submit"]:hover, input.submit[type="submit"]:focus {
  background:#0099B6;
	border-color:#0099B6;
  color:#FFFFFF;
}

/*Data Collection Secondary button background / text color*/
#secondaryButton, 
.button-2, .button-2-img, .button-2:hover, .button-2-img:focus, .button-2:hover, .button-2-img:focus {
  background:#EFEFEF;
	border-color:#EFEFEF;
  color:#000000;
}

/*Page Header background color / text color / background image */
#pageHeader, 
#schemePreviewHead,
div.pageTitle,
div.pageTitle h1, 
div.pageTitleError h1,
div#lightboxContent h2 {
  background:#DEDEDE ;
	border-color:#DEDEDE;
  color:#000000;
  text-shadow: none;
}

.pageTitle p,
.pageTitle p.helptext,
.version {
  color:#000000;
  opacity:.8;
  filter: Alpha(Opacity=80);
}

/*Action bar background / text color*/
#actionBarBrand,
.actionBar, 
.contentPaneWide .actionBar,
div.actionBar ul, 
div.localViewToggle,
.actionBarMicro {
  /*background-color:#666666;*/
  /*background:#666666  url(https://203.57.188.81:8443/branding/themes/usc2014/images/reorder_bg.png) repeat 0 0 ;*/
  border-color:#666666;
}

/*Action bar primary button background / text color*/
#primaryActionBrand, 
.mainButton > a, 
.mainButton > a:hover, 
.mainButton > a:focus,
.mainButton h2 > a,
.mainButton h2 > a:hover, 
.mainButton h2 > a:focus, 
li.mainButton > a,
li.mainButton:hover > a,
li.mainButton:focus > a,
li.mainButton:hover h2 > a,
li.mainButton:focus h2 > a,
.actionBarMicro .mainButton > a, 
.actionBarMicro .mainButton > a:hover, 
.actionBarMicro .mainButton > a:focus {
  background:#555555;
	border-color:#555555;
  color:#E9E9E9;
}

/*Action bar Secondary button background / text color*/
#secondaryActionBrand, 
.secondaryButton > a, 
.secondaryButton > a:hover,
.secondaryButton > a:focus, 
.secondaryButton h2 > a,
.secondaryButton h2 > a:hover, 
.secondaryButton h2 > a:focus
 {
  background:#555555;
	border-color:#555555;
  color:#E9E9E9;
}

/*Top Frame Text Color */
#topFrame, 
.topGlobalLinks ul li,
.topGlobalLinks a,
.topGlobalLinks a:hover,
.topGlobalLinks a:focus,
.hotItems,
.hotSpots a,
.hotSpots li:after,
.hotSpots a:hover  {
    color:#ffffff;
}


/*Top Frame Background Color / Background Image*/
#topFrame, 
.bgBanner {
    background-color:#00674B;
	border-color:transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
div.topTabs-compact {
    background:#00674B;
	border-color:transparent;
}

/*Top Tab Color/Background Color*/
#topTab, 
table.appTabs tbody tr td a, 
div.topTabs-compact table.appTabs tr td a,
table.appTabs tbody tr td a:hover, 
div.topTabs-compact table.appTabs tr td a:hover,
table.appTabs tbody tr td a:focus, 
div.topTabs-compact table.appTabs tr td a:focus {   
  color:#EFEFEF;
  background-color:transparent;
	border-color:transparent;

}

/*Top Tab Active Tab Color/Background Color*/
#topTabActive, 
table.appTabs tbody tr td.active a, 
table.appTabs tbody tr td.active a:hover, 
table.appTabs tbody tr td.active a:focus,
div.topTabs-compact table.appTabs tr td.active a, 
div.topTabs-compact table.appTabs tr td.active a:hover, 
div.topTabs-compact table.appTabs tr td.active a:focus {
    color:#FFF4BF;
    background-color:transparent;  
	border-color:transparent;
	text-shadow: none;             
}

/*Global Nav links*/
/**/
.nav-link, .nav-link:hover, .nav-link:focus {
	background: #666;
}

/*Module colors*/
#moduleTitle, 
.portlet h2, .portlet h2 span.reorder
{
    background-color:transparent;
    color:#444444;
}
.portlet h2 a
{
    background-color: transparent;
    color:#444444;
}
#moduleBorder, #moduleBody, 
.portlet
{
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-right-color: #CCCCCC;
    background-color:#EFEDE3;
    color:#444444;    
}
/*Content Frame background color / text color / background image*/
#contentFrame,
#schemePreview, 
body, 
.ineditmode, 
.topFrame,
.breadcrumbs,
.paneTabs,
.paneTabs ul li.active, 
.paneTabs ul li,
.wizardBody .containerWizard {
    background-color:#FFFFFF;
    color:#000000;
}

/* active top tab caret in 2012 theme */
.appTabs .active .hideoff,
.appTabs .active a:hover .hideoff,
.appTabs .active a:focus .hideoff,
.toppTabs-compact .appTabs .active .hideoff, 
.toppTabs-compact .appTabs .active a:hover .hideoff,
.toppTabs-compact .appTabs .active a:focus .hideoff,
.paneTabs .active a:after {
  border-bottom-color: #FFFFFF;
}

/*Content area background color / text color / background image */
#contentArea,
#schemePreviewBody,
.container {        
    background-color:#FFFFFF;
    color:#111111;
}

/*Data Collection Primary button background / text color*/
#primaryButton, 
button[type="submit"].submit,
.mainButton a, .mainButton a:hover, .mainButton a:focus,
.mainButton a, .actionBarMicro .mainButton a:hover, .actionBarMicro .mainButton a:focus,
.rumble .mainButton > a, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus,
.button-1, .button-1-img, .button-1:hover, .button-1-img:hover, .button-1:focus, .button-1-img:focus,
input.submit[type="submit"]:hover, input.submit[type="submit"]:focus {
  background:#00674B;
	border-color:#00674B;
  color:#FFFFFF;
}

/*Data Collection Secondary button background / text color*/
#secondaryButton, 
.button-2, .button-2-img, .button-2:hover, .button-2-img:focus, .button-2:hover, .button-2-img:focus {
  background:#EEEEEE;
	border-color:#EEEEEE;
  color:#000000;
}

/*Page Header background color / text color / background image */
#pageHeader, 
#schemePreviewHead,
div.pageTitle,
div.pageTitle h1, 
div.pageTitleError h1,
div#lightboxContent h2 {
  background:transparent ;
	border-color:transparent;
  color:#000000;
  text-shadow: none;
}

.pageTitle p,
.pageTitle p.helptext,
.version {
  color:#000000;
  opacity:.8;
  filter: Alpha(Opacity=80);
}

/*Action bar background / text color*/
#actionBarBrand,
.actionBar, 
.contentPaneWide .actionBar,
div.actionBar ul, 
div.localViewToggle,
.actionBarMicro {
  /*background-color:#4E4E4E;*/
  /*background:#4E4E4E  url(https://203.57.188.81:8443/branding/themes/usc2014/images/reorder_bg.png) repeat 0 0 ;*/
  border-color:#4E4E4E;
}

/*Action bar primary button background / text color*/
#primaryActionBrand, 
.mainButton > a, 
.mainButton > a:hover, 
.mainButton > a:focus,
.mainButton h2 > a,
.mainButton h2 > a:hover, 
.mainButton h2 > a:focus, 
li.mainButton > a,
li.mainButton:hover > a,
li.mainButton:focus > a,
li.mainButton:hover h2 > a,
li.mainButton:focus h2 > a,
.actionBarMicro .mainButton > a, 
.actionBarMicro .mainButton > a:hover, 
.actionBarMicro .mainButton > a:focus {
  background:#00674B;
	border-color:#00674B;
  color:#FFFFFF;
}

/*Action bar Secondary button background / text color*/
#secondaryActionBrand, 
.secondaryButton > a, 
.secondaryButton > a:hover,
.secondaryButton > a:focus, 
.secondaryButton h2 > a,
.secondaryButton h2 > a:hover, 
.secondaryButton h2 > a:focus
 {
  background:#00674B;
	border-color:#00674B;
  color:#FFFFFF;
}

/*Top Frame Text Color */
#topFrame, 
.topGlobalLinks ul li,
.topGlobalLinks a,
.topGlobalLinks a:hover,
.topGlobalLinks a:focus,
.hotItems,
.hotSpots a,
.hotSpots li:after,
.hotSpots a:hover  {
    color:#FFFFFF;
}


/*Top Frame Background Color / Background Image*/
#topFrame, 
.bgBanner {
    background-color:#00674B;
	border-color:transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
div.topTabs-compact {
    background:#00674B;
	border-color:transparent;
}

/*Top Tab Color/Background Color*/
#topTab, 
table.appTabs tbody tr td a, 
div.topTabs-compact table.appTabs tr td a,
table.appTabs tbody tr td a:hover, 
div.topTabs-compact table.appTabs tr td a:hover,
table.appTabs tbody tr td a:focus, 
div.topTabs-compact table.appTabs tr td a:focus {   
  color:#FFFFFF;
  background-color:transparent;
	border-color:transparent;

}

/*Top Tab Active Tab Color/Background Color*/
#topTabActive, 
table.appTabs tbody tr td.active a, 
table.appTabs tbody tr td.active a:hover, 
table.appTabs tbody tr td.active a:focus,
div.topTabs-compact table.appTabs tr td.active a, 
div.topTabs-compact table.appTabs tr td.active a:hover, 
div.topTabs-compact table.appTabs tr td.active a:focus {
    color:#FFFFFF;
    background-color:transparent;  
	border-color:transparent;
	text-shadow: none;             
}

/*Global Nav links*/
/**/
.nav-link, .nav-link:hover, .nav-link:focus {
	background: #666;
}

/*Module colors*/
#moduleTitle, 
.portlet h2, .portlet h2 span.reorder
{
    background-color:#DDDDDD;
    color:#444444;
}
.portlet h2 a
{
    background-color: transparent;
    color:#444444;
}
#moduleBorder, #moduleBody, 
.portlet
{
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-right-color: #CCCCCC;
    background-color:#FFFFFF;
    color:#444444;    
}
/*Content Frame background color / text color / background image*/
#contentFrame,
#schemePreview, 
body, 
.ineditmode, 
.topFrame,
.breadcrumbs,
.paneTabs,
.paneTabs ul li.active, 
.paneTabs ul li,
.wizardBody .containerWizard {
    background-color:#FFFFFF;
    color:#000000;
}

/* active top tab caret in 2012 theme */
.appTabs .active .hideoff,
.appTabs .active a:hover .hideoff,
.appTabs .active a:focus .hideoff,
.toppTabs-compact .appTabs .active .hideoff, 
.toppTabs-compact .appTabs .active a:hover .hideoff,
.toppTabs-compact .appTabs .active a:focus .hideoff,
.paneTabs .active a:after {
  border-bottom-color: #FFFFFF;
}

/*Content area background color / text color / background image */
#contentArea,
#schemePreviewBody,
.container {        
    background-color:#FFFFFF;
    color:#111111;
}

/*Data Collection Primary button background / text color*/
#primaryButton, 
button[type="submit"].submit,
.mainButton a, .mainButton a:hover, .mainButton a:focus,
.mainButton a, .actionBarMicro .mainButton a:hover, .actionBarMicro .mainButton a:focus,
.rumble .mainButton > a, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus,
.button-1, .button-1-img, .button-1:hover, .button-1-img:hover, .button-1:focus, .button-1-img:focus,
input.submit[type="submit"]:hover, input.submit[type="submit"]:focus {
  background:#00674B;
	border-color:#00674B;
  color:#FFFFFF;
}

/*Data Collection Secondary button background / text color*/
#secondaryButton, 
.button-2, .button-2-img, .button-2:hover, .button-2-img:focus, .button-2:hover, .button-2-img:focus {
  background:#DDDDDD;
	border-color:#DDDDDD;
  color:#000000;
}

/*Page Header background color / text color / background image */
#pageHeader, 
#schemePreviewHead,
div.pageTitle,
div.pageTitle h1, 
div.pageTitleError h1,
div#lightboxContent h2 {
  background:transparent ;
	border-color:transparent;
  color:#000000;
  text-shadow: none;
}

.pageTitle p,
.pageTitle p.helptext,
.version {
  color:#000000;
  opacity:.8;
  filter: Alpha(Opacity=80);
}

/*Action bar background / text color*/
#actionBarBrand,
.actionBar, 
.contentPaneWide .actionBar,
div.actionBar ul, 
div.localViewToggle,
.actionBarMicro {
  /*background-color:#4E4E4E;*/
  /*background:#4E4E4E  url(https://203.57.188.81:8443/branding/themes/usc2014/images/reorder_bg.png) repeat 0 0 ;*/
  border-color:#4E4E4E;
}

/*Action bar primary button background / text color*/
#primaryActionBrand, 
.mainButton > a, 
.mainButton > a:hover, 
.mainButton > a:focus,
.mainButton h2 > a,
.mainButton h2 > a:hover, 
.mainButton h2 > a:focus, 
li.mainButton > a,
li.mainButton:hover > a,
li.mainButton:focus > a,
li.mainButton:hover h2 > a,
li.mainButton:focus h2 > a,
.actionBarMicro .mainButton > a, 
.actionBarMicro .mainButton > a:hover, 
.actionBarMicro .mainButton > a:focus {
  background:#00674B;
	border-color:#00674B;
  color:#FFFFFF;
}

/*Action bar Secondary button background / text color*/
#secondaryActionBrand, 
.secondaryButton > a, 
.secondaryButton > a:hover,
.secondaryButton > a:focus, 
.secondaryButton h2 > a,
.secondaryButton h2 > a:hover, 
.secondaryButton h2 > a:focus
 {
  background:#00674B;
	border-color:#00674B;
  color:#FFFFFF;
}

/*Top Frame Text Color */
#topFrame, 
.topGlobalLinks ul li,
.topGlobalLinks a,
.topGlobalLinks a:hover,
.topGlobalLinks a:focus,
.hotItems,
.hotSpots a,
.hotSpots li:after,
.hotSpots a:hover  {
    color:#FFFFFF;
}


/*Top Frame Background Color / Background Image*/
#topFrame, 
.bgBanner {
    background-color:#00674B;
	border-color:transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
div.topTabs-compact {
    background:#00674B;
	border-color:transparent;
}

/*Top Tab Color/Background Color*/
#topTab, 
table.appTabs tbody tr td a, 
div.topTabs-compact table.appTabs tr td a,
table.appTabs tbody tr td a:hover, 
div.topTabs-compact table.appTabs tr td a:hover,
table.appTabs tbody tr td a:focus, 
div.topTabs-compact table.appTabs tr td a:focus {   
  color:#FFFFFF;
  background-color:transparent;
	border-color:transparent;

}

/*Top Tab Active Tab Color/Background Color*/
#topTabActive, 
table.appTabs tbody tr td.active a, 
table.appTabs tbody tr td.active a:hover, 
table.appTabs tbody tr td.active a:focus,
div.topTabs-compact table.appTabs tr td.active a, 
div.topTabs-compact table.appTabs tr td.active a:hover, 
div.topTabs-compact table.appTabs tr td.active a:focus {
    color:#FFFFFF;
    background-color:transparent;  
	border-color:transparent;
	text-shadow: none;             
}

/*Global Nav links*/
/**/
.nav-link, .nav-link:hover, .nav-link:focus {
	background: #666;
}

/*Module colors*/
#moduleTitle, 
.portlet h2, .portlet h2 span.reorder
{
    background-color:#DDDDDD;
    color:#444444;
}
.portlet h2 a
{
    background-color: transparent;
    color:#444444;
}
#moduleBorder, #moduleBody, 
.portlet
{
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-right-color: #CCCCCC;
    background-color:#FFFFFF;
    color:#444444;    
}
/*Content Frame background color / text color / background image*/
#contentFrame,
#schemePreview, 
body, 
.ineditmode, 
.topFrame,
.breadcrumbs,
.paneTabs,
.paneTabs ul li.active, 
.paneTabs ul li,
.wizardBody .containerWizard {
    background-color:#FFFFFF;
    color:#000000;
}

/* active top tab caret in 2012 theme */
.appTabs .active .hideoff,
.appTabs .active a:hover .hideoff,
.appTabs .active a:focus .hideoff,
.toppTabs-compact .appTabs .active .hideoff, 
.toppTabs-compact .appTabs .active a:hover .hideoff,
.toppTabs-compact .appTabs .active a:focus .hideoff,
.paneTabs .active a:after {
  border-bottom-color: #FFFFFF;
}

/*Content area background color / text color / background image */
#contentArea,
#schemePreviewBody,
.container {        
    background-color:#FFFFFF;
    color:#111111;
}

/*Data Collection Primary button background / text color*/
#primaryButton, 
button[type="submit"].submit,
.mainButton a, .mainButton a:hover, .mainButton a:focus,
.mainButton a, .actionBarMicro .mainButton a:hover, .actionBarMicro .mainButton a:focus,
.rumble .mainButton > a, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus,
.button-1, .button-1-img, .button-1:hover, .button-1-img:hover, .button-1:focus, .button-1-img:focus,
input.submit[type="submit"]:hover, input.submit[type="submit"]:focus {
  background:transparent;
	border-color:transparent;
  color:#FFFFFF;
}

/*Data Collection Secondary button background / text color*/
#secondaryButton, 
.button-2, .button-2-img, .button-2:hover, .button-2-img:focus, .button-2:hover, .button-2-img:focus {
  background:transparent;
	border-color:transparent;
  color:#FFFFFF;
}

/*Page Header background color / text color / background image */
#pageHeader, 
#schemePreviewHead,
div.pageTitle,
div.pageTitle h1, 
div.pageTitleError h1,
div#lightboxContent h2 {
  background:transparent ;
	border-color:transparent;
  color:#000000;
  text-shadow: none;
}

.pageTitle p,
.pageTitle p.helptext,
.version {
  color:#000000;
  opacity:.8;
  filter: Alpha(Opacity=80);
}

/*Action bar background / text color*/
#actionBarBrand,
.actionBar, 
.contentPaneWide .actionBar,
div.actionBar ul, 
div.localViewToggle,
.actionBarMicro {
  /*background-color:#4E4E4E;*/
  /*background:#4E4E4E  url(/branding/_1_1/reorder_bg.png) repeat 0 0 ;*/
  border-color:#4E4E4E;
}

/*Action bar primary button background / text color*/
#primaryActionBrand, 
.mainButton > a, 
.mainButton > a:hover, 
.mainButton > a:focus,
.mainButton h2 > a,
.mainButton h2 > a:hover, 
.mainButton h2 > a:focus, 
li.mainButton > a,
li.mainButton:hover > a,
li.mainButton:focus > a,
li.mainButton:hover h2 > a,
li.mainButton:focus h2 > a,
.actionBarMicro .mainButton > a, 
.actionBarMicro .mainButton > a:hover, 
.actionBarMicro .mainButton > a:focus {
  background:#336EA9;
	border-color:#336EA9;
  color:#FFFFFF;
}

/*Action bar Secondary button background / text color*/
#secondaryActionBrand, 
.secondaryButton > a, 
.secondaryButton > a:hover,
.secondaryButton > a:focus, 
.secondaryButton h2 > a,
.secondaryButton h2 > a:hover, 
.secondaryButton h2 > a:focus
 {
  background:#336EA9;
	border-color:#336EA9;
  color:#FFFFFF;
}

/*Top Frame Text Color */
#topFrame, 
.topGlobalLinks ul li,
.topGlobalLinks a,
.topGlobalLinks a:hover,
.topGlobalLinks a:focus,
.hotItems,
.hotSpots a,
.hotSpots li:after,
.hotSpots a:hover  {
    color:#FFFFFF;
}


/*Top Frame Background Color / Background Image*/
#topFrame, 
.bgBanner {
    background-color:#336EA9;
	border-color:transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
div.topTabs-compact {
    background:#336EA9;
	border-color:transparent;
}

/*Top Tab Color/Background Color*/
#topTab, 
table.appTabs tbody tr td a, 
div.topTabs-compact table.appTabs tr td a,
table.appTabs tbody tr td a:hover, 
div.topTabs-compact table.appTabs tr td a:hover,
table.appTabs tbody tr td a:focus, 
div.topTabs-compact table.appTabs tr td a:focus {   
  color:#FFFFFF;
  background-color:transparent;
	border-color:transparent;

}

/*Top Tab Active Tab Color/Background Color*/
#topTabActive, 
table.appTabs tbody tr td.active a, 
table.appTabs tbody tr td.active a:hover, 
table.appTabs tbody tr td.active a:focus,
div.topTabs-compact table.appTabs tr td.active a, 
div.topTabs-compact table.appTabs tr td.active a:hover, 
div.topTabs-compact table.appTabs tr td.active a:focus {
    color:#FFFFFF;
    background-color:transparent;  
	border-color:transparent;
	text-shadow: none;             
}

/*Global Nav links*/
/**/
.nav-link, .nav-link:hover, .nav-link:focus {
	background: #666;
}

/*Module colors*/
#moduleTitle, 
.portlet h2, .portlet h2 span.reorder
{
    background-color:#DDDDDD;
    color:#444444;
}
.portlet h2 a
{
    background-color: transparent;
    color:#444444;
}
#moduleBorder, #moduleBody, 
.portlet
{
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
    border-bottom-color: #CCCCCC;
    border-right-color: #CCCCCC;
    background-color:#FFFFFF;
    color:#444444;    
}
/*Content Frame background color / text color / background image*/
#contentFrame,
#schemePreview, 
body, 
.ineditmode, 
.topFrame,
.breadcrumbs,
.paneTabs,
.paneTabs ul li.active, 
.paneTabs ul li,
.wizardBody .containerWizard {
    /*background: url(../../branding/_1_1/bb_line_diagonal1.png) repeat 0 0;*/
    background-color:#FFFFFF;
    color:#151217;
}

/* active top tab caret in 2012 theme */
.appTabs .active .hideoff,
.appTabs .active a:hover .hideoff,
.appTabs .active a:focus .hideoff,
.toppTabs-compact .appTabs .active .hideoff, 
.toppTabs-compact .appTabs .active a:hover .hideoff,
.toppTabs-compact .appTabs .active a:focus .hideoff,
.paneTabs .active a:after {
  border-bottom-color: #FFFFFF;
}

/*Content area background color / text color / background image */
#contentArea,
#schemePreviewBody,
.container {        
    background-color:#FFFFFF;
    color:#111111;
}

/*Data Collection Primary button background / text color*/
#primaryButton, 
button[type="submit"].submit,
.mainButton a, .mainButton a:hover, .mainButton a:focus,
.mainButton a, .actionBarMicro .mainButton a:hover, .actionBarMicro .mainButton a:focus,
.rumble .mainButton > a, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus,
.button-1, .button-1-img, .button-1:hover, .button-1-img:hover, .button-1:focus, .button-1-img:focus,
input.submit[type="submit"]:hover, input.submit[type="submit"]:focus {
  background:#4290CC;
	border-color:#4290CC;
  color:#FFFFFF;
}

/*Data Collection Secondary button background / text color*/
#secondaryButton, 
.button-2, .button-2-img, .button-2:hover, .button-2-img:focus, .button-2:hover, .button-2-img:focus {
  background:#76766F;
	border-color:#76766F;
  color:#FFFFFF;
}

/*Page Header background color / text color / background image */
#pageHeader, 
#schemePreviewHead,
div.pageTitle,
div.pageTitle h1, 
div.pageTitleError h1,
div#lightboxContent h2 {
  background:transparent ;
	border-color:transparent;
  color:#32233E;
  text-shadow: none;
}

.pageTitle p,
.pageTitle p.helptext,
.version {
  color:#32233E;
  opacity:.8;
  filter: Alpha(Opacity=80);
}

/*Action bar background / text color*/
#actionBarBrand,
.actionBar, 
.contentPaneWide .actionBar,
div.actionBar ul, 
div.localViewToggle,
.actionBarMicro {
  /*background-color:#4E4E4E;*/
  /*background:#4E4E4E  url(../../branding/_1_1/reorder_bg.png) repeat 0 0 ;*/
  border-color:#4E4E4E;
}

/*Action bar primary button background / text color*/
#primaryActionBrand, 
.mainButton > a, 
.mainButton > a:hover, 
.mainButton > a:focus,
.mainButton h2 > a,
.mainButton h2 > a:hover, 
.mainButton h2 > a:focus, 
li.mainButton > a,
li.mainButton:hover > a,
li.mainButton:focus > a,
li.mainButton:hover h2 > a,
li.mainButton:focus h2 > a,
.actionBarMicro .mainButton > a, 
.actionBarMicro .mainButton > a:hover, 
.actionBarMicro .mainButton > a:focus {
  background:#7EA9CA;
	border-color:#7EA9CA;
  color:#FFFFFF;
}

/*Action bar Secondary button background / text color*/
#secondaryActionBrand, 
.secondaryButton > a, 
.secondaryButton > a:hover,
.secondaryButton > a:focus, 
.secondaryButton h2 > a,
.secondaryButton h2 > a:hover, 
.secondaryButton h2 > a:focus
 {
  background:#76766F;
	border-color:#76766F;
  color:#FFFFFF;
}

/*Top Frame Text Color */
#topFrame, 
.topGlobalLinks ul li,
.topGlobalLinks a,
.topGlobalLinks a:hover,
.topGlobalLinks a:focus,
.hotItems,
.hotSpots a,
.hotSpots li:after,
.hotSpots a:hover  {
    color:#FFFFFF;
}


/*Top Frame Background Color / Background Image*/
#topFrame, 
.bgBanner {
    background-color:#205080;
	border-color:#E3E0E5;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
div.topTabs-compact {
    background:#205080;
	border-color:#E3E0E5;
}

/*Top Tab Color/Background Color*/
#topTab, 
table.appTabs tbody tr td a, 
div.topTabs-compact table.appTabs tr td a,
table.appTabs tbody tr td a:hover, 
div.topTabs-compact table.appTabs tr td a:hover,
table.appTabs tbody tr td a:focus, 
div.topTabs-compact table.appTabs tr td a:focus {   
  color:#FFFFFF;
  background-color:#367AAF;
	border-color:#367AAF;

}

/*Top Tab Active Tab Color/Background Color*/
#topTabActive, 
table.appTabs tbody tr td.active a, 
table.appTabs tbody tr td.active a:hover, 
table.appTabs tbody tr td.active a:focus,
div.topTabs-compact table.appTabs tr td.active a, 
div.topTabs-compact table.appTabs tr td.active a:hover, 
div.topTabs-compact table.appTabs tr td.active a:focus {
    color:#32233E;
    background-color:#E3E0E5;  
	border-color:#E3E0E5;
	text-shadow: none;             
}

/*Global Nav links*/
/**/
.nav-link, .nav-link:hover, .nav-link:focus {
	background: #666;
}

/*Module colors*/
#moduleTitle, 
.portlet h2, .portlet h2 span.reorder
{
    background-color:#F4F2F5;
    color:#32233E;
}
.portlet h2 a
{
    background-color: transparent;
    color:#32233E;
}
#moduleBorder, #moduleBody, 
.portlet
{
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    background-color:#F4F2F5;
    color:#151217;    
}
/*Content Frame background color / text color / background image*/
#contentFrame,
#schemePreview, 
body, 
.ineditmode, 
.topFrame,
.breadcrumbs,
.paneTabs,
.paneTabs ul li.active, 
.paneTabs ul li,
.wizardBody .containerWizard {
    /*background: url(../../branding/_1_1/bb_line_diagonal1.png) repeat 0 0;*/
    background-color:#FFFFFF;
    color:#212121;
}

/* active top tab caret in 2012 theme */
.appTabs .active .hideoff,
.appTabs .active a:hover .hideoff,
.appTabs .active a:focus .hideoff,
.toppTabs-compact .appTabs .active .hideoff, 
.toppTabs-compact .appTabs .active a:hover .hideoff,
.toppTabs-compact .appTabs .active a:focus .hideoff,
.paneTabs .active a:after {
  border-bottom-color: #FFFFFF;
}

/*Content area background color / text color / background image */
#contentArea,
#schemePreviewBody,
.container {        
    background-color:#FFFFFF;
    color:#212121;
}

/*Data Collection Primary button background / text color*/
#primaryButton, 
button[type="submit"].submit,
.mainButton a, .mainButton a:hover, .mainButton a:focus,
.mainButton a, .actionBarMicro .mainButton a:hover, .actionBarMicro .mainButton a:focus,
.rumble .mainButton > a, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus,
.button-1, .button-1-img, .button-1:hover, .button-1-img:hover, .button-1:focus, .button-1-img:focus,
input.submit[type="submit"]:hover, input.submit[type="submit"]:focus {
  background:#4290CC;
	border-color:#4290CC;
  color:#FFFFFF;
}

/*Data Collection Secondary button background / text color*/
#secondaryButton, 
.button-2, .button-2-img, .button-2:hover, .button-2-img:focus, .button-2:hover, .button-2-img:focus {
  background:#8d6e63;
	border-color:#8d6e63;
  color:#FFFFFF;
}

/*Page Header background color / text color / background image */
#pageHeader, 
#schemePreviewHead,
div.pageTitle,
div.pageTitle h1, 
div.pageTitleError h1,
div#lightboxContent h2 {
  background:transparent ;
	border-color:transparent;
  color:#263238;
  text-shadow: none;
}

.pageTitle p,
.pageTitle p.helptext,
.version {
  color:#263238;
  opacity:.8;
  filter: Alpha(Opacity=80);
}

/*Action bar background / text color*/
#actionBarBrand,
.actionBar, 
.contentPaneWide .actionBar,
div.actionBar ul, 
div.localViewToggle,
.actionBarMicro {
  /*background-color:#616161;*/
  /*background:#616161  url(../../branding/_1_1/reorder_bg.png) repeat 0 0 ;*/
  border-color:#616161;
}

/*Action bar primary button background / text color*/
#primaryActionBrand, 
.mainButton > a, 
.mainButton > a:hover, 
.mainButton > a:focus,
.mainButton h2 > a,
.mainButton h2 > a:hover, 
.mainButton h2 > a:focus, 
li.mainButton > a,
li.mainButton:hover > a,
li.mainButton:focus > a,
li.mainButton:hover h2 > a,
li.mainButton:focus h2 > a,
.actionBarMicro .mainButton > a, 
.actionBarMicro .mainButton > a:hover, 
.actionBarMicro .mainButton > a:focus {
  background:#90caf9;
	border-color:#90caf9;
  color:#FFFFFF;
}

/*Action bar Secondary button background / text color*/
#secondaryActionBrand, 
.secondaryButton > a, 
.secondaryButton > a:hover,
.secondaryButton > a:focus, 
.secondaryButton h2 > a,
.secondaryButton h2 > a:hover, 
.secondaryButton h2 > a:focus
 {
  background:#8d6e63;
	border-color:#8d6e63;
  color:#FFFFFF;
}

/*Top Frame Text Color */
#topFrame, 
.topGlobalLinks ul li,
.topGlobalLinks a,
.topGlobalLinks a:hover,
.topGlobalLinks a:focus,
.hotItems,
.hotSpots a,
.hotSpots li:after,
.hotSpots a:hover  {
    color:#FFFFFF;
}


/*Top Frame Background Color / Background Image*/
#topFrame, 
.bgBanner {
    background-color:#00838f;
	border-color:transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
div.topTabs-compact {
    background:#00838f;
	border-color:transparent;
}

/*Top Tab Color/Background Color*/
#topTab, 
table.appTabs tbody tr td a, 
div.topTabs-compact table.appTabs tr td a,
table.appTabs tbody tr td a:hover, 
div.topTabs-compact table.appTabs tr td a:hover,
table.appTabs tbody tr td a:focus, 
div.topTabs-compact table.appTabs tr td a:focus {   
  color:#FFFFFF;
  background-color:transparent;
	border-color:transparent;

}

/*Top Tab Active Tab Color/Background Color*/
#topTabActive, 
table.appTabs tbody tr td.active a, 
table.appTabs tbody tr td.active a:hover, 
table.appTabs tbody tr td.active a:focus,
div.topTabs-compact table.appTabs tr td.active a, 
div.topTabs-compact table.appTabs tr td.active a:hover, 
div.topTabs-compact table.appTabs tr td.active a:focus {
    color:#FFFFFF;
    background-color:transparent;  
	border-color:transparent;
	text-shadow: none;             
}

/*Global Nav links*/
/**/
.nav-link, .nav-link:hover, .nav-link:focus {
	background: #666;
}

/*Module colors*/
#moduleTitle, 
.portlet h2, .portlet h2 span.reorder
{
    background-color:#f4f2f5;
    color:#263238;
}
.portlet h2 a
{
    background-color: transparent;
    color:#263238;
}
#moduleBorder, #moduleBody, 
.portlet
{
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    background-color:#F4F2F5;
    color:#212121;    
}
/*Content Frame background color / text color / background image*/
#contentFrame,
#schemePreview, 
body, 
.ineditmode, 
.topFrame,
.breadcrumbs,
.paneTabs,
.paneTabs ul li.active, 
.paneTabs ul li,
.wizardBody .containerWizard {
    background-color:#FFFFFF;
    color:#212121;
}

/* active top tab caret in 2012 theme */
.appTabs .active .hideoff,
.appTabs .active a:hover .hideoff,
.appTabs .active a:focus .hideoff,
.toppTabs-compact .appTabs .active .hideoff, 
.toppTabs-compact .appTabs .active a:hover .hideoff,
.toppTabs-compact .appTabs .active a:focus .hideoff,
.paneTabs .active a:after {
  border-bottom-color: #FFFFFF;
}

/*Content area background color / text color / background image */
#contentArea,
#schemePreviewBody,
.container {        
    background-color:#FFFFFF;
    color:#212121;
}

/*Data Collection Primary button background / text color*/
#primaryButton, 
button[type="submit"].submit,
.mainButton a, .mainButton a:hover, .mainButton a:focus,
.mainButton a, .actionBarMicro .mainButton a:hover, .actionBarMicro .mainButton a:focus,
.rumble .mainButton > a, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus, 
.rumble .mainButton > a:hover, .rumble_top .mainButton > a:focus,
.button-1, .button-1-img, .button-1:hover, .button-1-img:hover, .button-1:focus, .button-1-img:focus,
input.submit[type="submit"]:hover, input.submit[type="submit"]:focus {
  background:#3949ab;
	border-color:#3949ab;
  color:#FFFFFF;
}

/*Data Collection Secondary button background / text color*/
#secondaryButton, 
.button-2, .button-2-img, .button-2:hover, .button-2-img:focus, .button-2:hover, .button-2-img:focus {
  background:#9e9e9e;
	border-color:#9e9e9e;
  color:#FFFFFF;
}

/*Page Header background color / text color / background image */
#pageHeader, 
#schemePreviewHead,
div.pageTitle,
div.pageTitle h1, 
div.pageTitleError h1,
div#lightboxContent h2 {
  background:transparent ;
	border-color:transparent;
  color:#263238;
  text-shadow: none;
}

.pageTitle p,
.pageTitle p.helptext,
.version {
  color:#263238;
  opacity:.8;
  filter: Alpha(Opacity=80);
}

/*Action bar background / text color*/
#actionBarBrand,
.actionBar, 
.contentPaneWide .actionBar,
div.actionBar ul, 
div.localViewToggle,
.actionBarMicro {
  /*background-color:transparent;*/
  background:transparent ;
  border-color:transparent;
}

/*Action bar primary button background / text color*/
#primaryActionBrand, 
.mainButton > a, 
.mainButton > a:hover, 
.mainButton > a:focus,
.mainButton h2 > a,
.mainButton h2 > a:hover, 
.mainButton h2 > a:focus, 
li.mainButton > a,
li.mainButton:hover > a,
li.mainButton:focus > a,
li.mainButton:hover h2 > a,
li.mainButton:focus h2 > a,
.actionBarMicro .mainButton > a, 
.actionBarMicro .mainButton > a:hover, 
.actionBarMicro .mainButton > a:focus {
  background:#0091ea;
	border-color:#0091ea;
  color:#FFFFFF;
}

/*Action bar Secondary button background / text color*/
#secondaryActionBrand, 
.secondaryButton > a, 
.secondaryButton > a:hover,
.secondaryButton > a:focus, 
.secondaryButton h2 > a,
.secondaryButton h2 > a:hover, 
.secondaryButton h2 > a:focus
 {
  background:#9e9e9e;
	border-color:#9e9e9e;
  color:#FFFFFF;
}

/*Top Frame Text Color */
#topFrame, 
.topGlobalLinks ul li,
.topGlobalLinks a,
.topGlobalLinks a:hover,
.topGlobalLinks a:focus,
.hotItems,
.hotSpots a,
.hotSpots li:after,
.hotSpots a:hover  {
    color:#FFFFFF;
}


/*Top Frame Background Color / Background Image*/
#topFrame, 
.bgBanner {
    background-color:#0077c8;
	border-color:transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
div.topTabs-compact {
    background:#0077c8;
	border-color:transparent;
}

/*Top Tab Color/Background Color*/
#topTab, 
table.appTabs tbody tr td a, 
div.topTabs-compact table.appTabs tr td a,
table.appTabs tbody tr td a:hover, 
div.topTabs-compact table.appTabs tr td a:hover,
table.appTabs tbody tr td a:focus, 
div.topTabs-compact table.appTabs tr td a:focus {   
  color:#eceff1;
  background-color:transparent;
	border-color:transparent;

}

/*Top Tab Active Tab Color/Background Color*/
#topTabActive, 
table.appTabs tbody tr td.active a, 
table.appTabs tbody tr td.active a:hover, 
table.appTabs tbody tr td.active a:focus,
div.topTabs-compact table.appTabs tr td.active a, 
div.topTabs-compact table.appTabs tr td.active a:hover, 
div.topTabs-compact table.appTabs tr td.active a:focus {
    color:#FFFFFF;
    background-color:transparent;  
	border-color:transparent;
	text-shadow: none;             
}

/*Global Nav links*/
/**/
.nav-link, .nav-link:hover, .nav-link:focus {
	background: #666;
}

/*Module colors*/
#moduleTitle, 
.portlet h2, .portlet h2 span.reorder
{
    background-color:#ffffff;
    color:#263238;
}
.portlet h2 a
{
    background-color: transparent;
    color:#263238;
}
#moduleBorder, #moduleBody, 
.portlet
{
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    background-color:#F3F3F3;
    color:#212121;    
}