header {
	top: 0;
	right: 0;
	left: 0;
	height: 100px;
	position: relative;
	padding: 0 10em;
	background-color: white;
}

nav {
	position: relative;
	background-color: green;
	height: 100px;
	padding-left: auto;
	vertical-align: middle;
}

ul {
	position: absolute;
	display: inline !important;
}

li {
	display: inline !important;
	margin: 0 1em;
	background-color: rgba(166,29,31,0.38);
	padding: 10px 5px;
}

/* LEFT NAV */
.leftnav {
	float: left;
}

/* RIGHT NAV */
.rightnav {
	float: right;	
}
